<mat-card appearance="outlined" class="card" (click)="onCardClick()">
    <img mat-card-image alt="Photo of a product" [src]="product().images[0].url" />
    <mat-card-header>
        <mat-card-subtitle>{{ product().name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="card__price">$ {{ product().price }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button color="primary" (click)="onPurchaseClick($event)">PURCHASE</button>
    </mat-card-actions>
</mat-card>
