<form #ngForm="ngForm" class="filter" (ngSubmit)="onLog(ngForm.value)">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput ngModel name="search" />
    </mat-form-field>

    <div *ngIf="brands(); else loaderTemplateRef" ngModelGroup="brands" class="checkbox-container">
        <mat-checkbox *ngFor="let brand of brands()" [ngModel]="false" [name]="brand">
            {{ brand }}
        </mat-checkbox>
    </div>
    <div ngModelGroup="priceRange" class="price-range">
        <div>
            Min
            <app-counter-input name="min" [ngModel]="0"></app-counter-input>
        </div>
        <div>
            Max
            <!-- <app-counter-input [ngModel]="100" (ngModelChange)="onChange($event)"></app-counter-input> -->
            <!-- <app-counter-input #ngModelInst="ngModel" [ngModel]="10"></app-counter-input> -->
            <!-- <app-counter-input #ngModelInst="exportAs" [ngModel]="10"></app-counter-input> -->
            <!-- <app-counter-input [(ngModel)]="counter"></app-counter-input> -->
            <app-counter-input name="max" [ngModel]="999999"></app-counter-input>
        </div>
    </div>

    <!-- <button type="button" (click)="ngForm.valueChanges">Submit</button> -->
    <!-- <button type="button" (click)="onLog(ngForm.value)">Submit</button> -->
    <button type="submit">Submit</button>
    <input type="submit" />
</form>

<!-- {{ngModelInst.value}} -->
{{ counter() }}

<ng-template #loaderTemplateRef>
    <mat-spinner diameter="60" class="loader"></mat-spinner>
</ng-template>
