:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

:host.opened {
  display: flex;
}

.popup-host__container {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  color: #333;
}

.popup-host__button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../../../public/cross.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
