<!-- Easy -->
<!-- @if ((products() | productsFilter : name()); as products) { -->

<!-- Hard -->
@if (products(); as products) {
    @if (products | filterByProperty: propertyName : searchPropertyValue(); as products) {
        <div appScrollWithLoading class="scroll-container">
            @for (product of products; track product._id) {
                <app-card class="card" [product]="product"></app-card>
            } @empty {
                Продуктов не найдено
            }
        </div>
    }
} @else {
    Loader
}
