<ng-template let-products [ngIf]="products()" [ngIfElse]="loader">
    <!-- Раскомментрировать для ДЗ -->
    <ng-template
        appPagination
        let-productsGroup
        let-pageIndexes="pageIndexes"
        let-activeIndex="activeIndex"
        let-next="next"
        let-back="back"
        let-selectIndex="selectIndex"
        [appPaginationOf]="products"
        [appPaginationChunkSize]="3"
    >
        <div>
            <div class="content">
                <ng-template ngFor let-product [ngForOf]="productsGroup" [ngForTrackBy]="trackBy">
                    <app-card class="card" [product]="product"></app-card>
                </ng-template>
            </div>

            <div class="pagination">
                <ul>
                    <li>
                        <mat-icon (click)="back()">chevron_left</mat-icon>
                    </li>
                    <ng-template ngFor let-index [ngForOf]="pageIndexes" [ngForTrackBy]="trackBy">
                        <!-- eslint-disable-next-line @html-eslint/require-li-container -->
                        <li>
                            <button
                                mat-icon-button
                                [class.selected]="index === activeIndex"
                                (click)="selectIndex(index)"
                            >
                                {{ index }}
                            </button>
                        </li>
                    </ng-template>
                    <li>
                        <mat-icon (click)="next()">chevron_right</mat-icon>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>
</ng-template>

<ng-template #loader>Loader</ng-template>
