<ng-template let-products [ngIf]="products()" [ngIfElse]="loader">
    <ng-template
        appPagination
        let-productsGroup
        let-pageIndexes="pageIndexes"
        let-activeIndex="activeIndex"
        let-hasNext="hasNext"
        let-hasPrev="hasPrev"
        let-next="next"
        let-back="back"
        let-selectIndex="selectIndex"
        [appPaginationOf]="products"
        [appPaginationChunkSize]="4"
    >
        <div class="cardsWrapper">
            <ng-template ngFor let-product [ngForOf]="productsGroup" [ngForTrackBy]="trackBy">
                <app-card class="card" [product]="product"></app-card>
            </ng-template>
        </div>

        <div class="pagination">
            <button mat-icon-button [disabled]="!hasPrev" (click)="back()">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <ng-template ngFor let-pageIndex [ngForOf]="pageIndexes">
                <button
                    mat-icon-button
                    [style.backgroundColor]="activeIndex === pageIndex && '#585858'"
                    (click)="selectIndex(pageIndex)"
                >
                    {{ pageIndex + 1 }}
                </button>
            </ng-template>

            <button mat-icon-button [disabled]="!hasNext" (click)="next()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </ng-template>
</ng-template>

<ng-template #loader>Loader</ng-template>
